name: main builds

on:
  push:
    branches: [ main ]

jobs:
  mainBuilds:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist --snapshot --skip-publish
      - name: Test
        run: go test -v ./...
      - name: Archive binaries
        uses: actions/upload-artifact@v2
        with:
          name: binaries
          path: dist
      - run: |
          VERSION="$(git describe --abbrev=0)-next"
          TIMESTAMP="$(date +%s)"
          echo -e '{
            "channel": "dev",
            "version": "'$VERSION'.'$TIMESTAMP'",
            "gitHash": "${{ github.sha }}",
            "binaries": {
              "win": "https://get.minepkg.io/dev/minepkg_windows_amd64/minepkg.exe",
              "macos": "https://get.minepkg.io/dev/minepkg_darwin_amd64/minepkg",
              "linux": "https://get.minepkg.io/dev/minepkg_linux_amd64/minepkg"
            }
          }' > dist/latest-version.json
      - name: setup gcloud sdk
        uses: google-github-actions/setup-gcloud@master
        with:
          service_account_key: ${{ secrets.gcp_credentials }}
          export_default_credentials: true
      - name: upload dev binaries to get.minepkg.io
        run: gsutil cp -r dist/* gs://minepkg-client/dev

